<div class="ls-slide t3" data-ls="slidedelay:7000; transition2d: all;" style="background:#2d3436">
  <!--  <img src="../assets/images/bg1.jpg" class="ls-bg" alt="Slide background" />-->
    <div class="row ls-l" style="left:35% !important;width:70% !important;"
       data-ls="offsetxin:0;offsetyin:150;delayin:2000;easingin:swing;offsetxout:0;offsetyout:-150;parallaxlevel:3;">
       <div style="top:20%; font-size:250%;  padding-bottom: 13px !important;  border-bottom: 10px solid #fc0; width:100%; left:0%; padding: 0;color:#000; text-align:center;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;    width: 100%;">
          <h2 class="heading1-text" style="border-top:10px solid #cf0306">CREATE YOUR OWN</h2>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">LRG</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">REG</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">MED</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left  fw-bold  item-name-font">Sundaes*</h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left  fw-bold  item-name-font">Concretes*</h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left  fw-bold  item-name-font">Shakes & Malts*</h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
          </div>
         <!-- <h5 class="text-center small-text">* Includes one topping or mix-in. Additional toppings &
             Mix-ins 60$ each </h5>-->
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">TRIPLE</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">DOUBLE</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold">SINGLE</h3>
                <h3 class="price text-left col-8"></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left  fw-bold  item-name-font">Cone or Dish*</h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-3 text-right">
                <h3 class="text-left  fw-bold  item-name-font">Waffle Cone</h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
             <div class="col-3 text-right row">
                <h3 class="price text-left col-4 fw-bold red-text">5.39</h3>
                <h3 class="price text-left col-8"><span>312-410 Cal</span></h3>
             </div>
          </div>
          <h2 class="heading1-text mt-3"  style="border-top:10px solid #cf0306;padding-bottom: 36px;">TOPPINGS & MIXINS</h2>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row">
                <h3 class="text-left col-6"></h3>
                <h3 class="price text-right col-6"><span>Mini - lg Cals</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6"></h3>
                <h3 class="price text-right col-6"><span>Mini - lg Cals</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6"></h3>
                <h3 class="price text-right col-6"><span>Mini - lg Cals</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Oreo*</h3>
                <h3 class="price text-right col-6"><span>410 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font" >M&M's*</h3>
                <h3 class="price text-right col-6"><span>342 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Butterfinger*</h3>
                <h3 class="price text-right col-6"><span>123 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Hot Fudge</h3>
                <h3 class="price text-right col-6"><span>410 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Strawberry</h3>
                <h3 class="price text-right col-6"><span>342 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Banana</h3>
                <h3 class="price text-right col-6"><span>123 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Marshmellow</h3>
                <h3 class="price text-right col-6"><span>410 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Rainbow sprinkles</h3>
                <h3 class="price text-right col-6"><span>342 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Butterfinger*</h3>
                <h3 class="price text-right col-6"><span>123 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row ">
                <h3 class="text-left col-6  fw-bold  item-name-font">Oreo*</h3>
                <h3 class="price text-right col-6"><span>410 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">M&M's*</h3>
                <h3 class="price text-right col-6"><span>342 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Butterfinger*</h3>
                <h3 class="price text-right col-6"><span>123 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Oreo*</h3>
                <h3 class="price text-right col-6"><span>410 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">M&M's*</h3>
                <h3 class="price text-right col-6"><span>342 Cal</span></h3>
             </div>
             <div class="col-4 text-right row">
                <h3 class="text-left col-6  fw-bold  item-name-font">Butterfinger*</h3>
                <h3 class="price text-right col-6"><span>123 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center whole plr-10">
            <div class="col-4 text-right row">
               <h3 class="text-left col-6  fw-bold  item-name-font">Oreo*</h3>
               <h3 class="price text-right col-6"><span>410 Cal</span></h3>
            </div>
            <div class="col-4 text-right row">
               <h3 class="text-left col-6  fw-bold  item-name-font">M&M's*</h3>
               <h3 class="price text-right col-6"><span>342 Cal</span></h3>
            </div>
            <div class="col-4 text-right row">
               <h3 class="text-left col-6  fw-bold  item-name-font">Butterfinger*</h3>
               <h3 class="price text-right col-6"><span>123 Cal</span></h3>
            </div>
         </div>
         <br/>
          <!--<img class="ls-l" style="top:25px;left:763px;white-space: nowrap;" data-ls="offsetxin:0;delayin:500;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:1;" src="../assets/images/table.png" alt="">
     <img class="ls-l" style="top:47px;left:231px;white-space: nowrap;width:80px;" data-ls="offsetxin:0;delayin:1000;rotateyin:180;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-2;" src="../assets/images/onionrings.png" alt="">
      <img class="ls-l" style="top:59px;left:888px;white-space: nowrap;width:80px;" data-ls="offsetxin:0;delayin:1500;rotateyin:90;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:4;" src="../assets/images/roll.png" alt="">-->

       </div>
      <!-- <img class="ls-l" style="top:98%;left:35%;white-space: nowrap;width:88rem;height:20rem"
          data-ls="offsetxout:0;offsetxin:0;offsetyin:150;" src="../../assets/images/black-bg.jpg" alt="">-->
       <!-- <img class="ls-l" style="top:90%;left:35%;width:25rem;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:2500;offsetxout:0;offsetyout:-150;parallaxlevel:4;"  src="../assets/images/product-2.png" alt="">-->
      <!-- <img class="ls-l" style="top:91%;left:60%;width:30rem;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:150;delayin:1500;easingin:swing;offsetxout:0;offsetyout:-150;parallaxlevel:3;"
          src="../assets/images/onionrings.png" alt="">-->
       <!--
     <img class="ls-l" style="top:90%;left:40%;white-space: nowrap;width:20rem" data-ls="offsetxout:180;" src="../assets/images/product-1.png" alt="">-->
       <!--<h4 style="    top: 108%;    left: 34%;    white-space: nowrap;    font-size: 4rem;    color: #ffffff;    text-transform: uppercase;    position: absolute;font-family: Arial;    font-weight: 900;    text-shadow: 2px 1px 5px #000;"
          data-ls="offsetxin:0;offsetyin:-100;delayin:2000;rotateyin:30;parallaxlevel:5;">Tasty Treat</h4>
       <img class="ls-l" style="top:92%;left:10%;width:55rem;white-space: nowrap;width:33rem;"
          data-ls="offsetxin:0;offsetyin:-100;delayin:2000;rotateyin:30;parallaxlevel:5;"
          src="../assets/images/combo.png" alt="">-->
    </div>
    <div class="row ls-l" style="left:85% !important;width:30% !important;height:100%;"
       data-ls="offsetxin:0;offsetyin:80;delayin:500;offsetxout:0;offsetyout:-80;">
       <div style="top:20%; font-size:250%;height:100%; background: #fcd920; right:0%; color:#000; text-align:center;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;    width: 100%;">
          <!-- <h2 class="heading">COMBO DEALS</h2>-->
          <div class="row position-relative align-items-center overflow-hidden h-100 w-100"
             data-ls="offsetxin:0;offsetyin:200;delayin:3500;offsetxout:0;offsetyout:150;">
             <!--     <video autoplay muted loop id="myVideo">
                <source src="../assets/images/burger.mp4" type="video/mp4" />
             </video>--> <img src="../assets/images/burger/choco.gif" class="w-auto h-100vh" />
          </div>

       </div>
    </div>
    <!--<img class="ls-l" style="top:25px;left:763px;white-space: nowrap;" data-ls="offsetxin:0;delayin:500;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:1;" src="../assets/images/layerslider-gallery/boom.png" alt="">
             <img class="ls-l" style="top:247px;left:731px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;rotateyin:180;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-2;" src="../assets/images/layerslider-gallery/awesome-gallery.png" alt="">
             <img class="ls-l" style="top:259px;left:888px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1500;rotateyin:90;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:4;" src="../assets/images/layerslider-gallery/parallax-bg.png" alt="">
             <img class="ls-l" style="top:402px;left:758px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2000;rotateyin:100;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:3;" src="../assets/images/layerslider-gallery/creative-design.png" alt="">
             <img class="ls-l" style="top:411px;left:935px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1700;rotateyin:120;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:2;" src="../assets/images/layerslider-gallery/mega-menu.png" alt="">
             <img class="ls-l" style="top:15px;left:1095px;transform:rotate(100deg); -ms-transform:rotate(100deg); /* IE 9 */ -webkit-transform:rotate(100deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;" data-ls="offsetxin:0;delayin:700;parallaxlevel:4;" src="../assets/images/layerslider-gallery/common-swirl.png" alt="">
             <img class="ls-l" style="top:133px;left:686px;transform:rotate(50deg); -ms-transform:rotate(50deg); /* IE 9 */ -webkit-transform:rotate(50deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;" data-ls="offsetxin:0;delayin:1800;rotatexin:30;rotateyin:30;parallaxlevel:3;" src="../assets/images/layerslider-gallery/common-swirl.png" alt="">
             <img class="ls-l" style="top:516px;left:705px;transform:rotate(-50deg); -ms-transform:rotate(-50deg); /* IE 9 */ -webkit-transform:rotate(-50deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;" data-ls="offsetxin:0;delayin:1800;rotatexin:30;rotateyin:30;parallaxlevel:2;" src="../assets/images/layerslider-gallery/common-swirl.png" alt="">
             <img class="ls-l" style="top:229px;left:1069px;transform:rotate(-90deg); -ms-transform:rotate(-90deg); /* IE 9 */ -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;" data-ls="offsetxin:0;delayin:2500;rotatexin:30;rotateyin:30;parallaxlevel:3;" src="../assets/images/layerslider-gallery/common-swirl.png" alt="">
             <img class="ls-l" style="top:123px;left:1123px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:3000;rotateyin:100;offsetxout:0;offsetyout:-100;parallaxlevel:-4;" src="../assets/images/layerslider-gallery/star-2.png" alt="">
             <img class="ls-l" style="top:0px;left:0px;white-space: nowrap;" data-ls="delayin:1200;rotatexin:200;rotateyin:200;parallaxlevel:5;" src="../assets/images/layerslider-gallery/aplus.png" alt="">
             <img class="ls-l" style="top:92px;left:-52px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:90;delayin:2000;rotatexin:100;rotateyin:100;offsetyout:-90;parallaxlevel:1;" src="../assets/images/layerslider-gallery/swirl-3.png" alt="">
             <img class="ls-l" style="top:197px;left:-9px;white-space: nowrap;" data-ls="delayin:800;rotatexin:200;rotateyin:200;parallaxlevel:3;" src="../assets/images/layerslider-gallery/swirl-2.png" alt="">
             <img class="ls-l" style="top:275px;left:-122px;white-space: nowrap;" data-ls="offsetxin:0;delayin:3000;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:-2;" src="../assets/images/layerslider-gallery/cap.png" alt="">
             <img class="ls-l" style="top:394px;left:-30px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2700;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:1;" src="../assets/images/layerslider-gallery/apple.png" alt="">
             <img class="ls-l" style="top:35px;left:555px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2200;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:2;" src="../assets/images/layerslider-gallery/swirl-4.png" alt="">
             <img class="ls-l" style="top:395px;left:758px;white-space: nowrap;" data-ls="offsetxin:0;delayin:3200;scalexin:4;scaleyin:4;offsetxout:0;parallaxlevel:-2;" src="../assets/images/layerslider-gallery/common-star.png" alt="">
             <img class="ls-l" style="top:366px;left:1067px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2100;scalexin:2;scaleyin:2;offsetxout:0;parallaxlevel:1;" src="../assets/images/layerslider-gallery/common-star.png" alt="">
             <img class="ls-l" style="top:444px;left:1100px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2400;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-1;" src="../assets/images/layerslider-gallery/common-star.png" alt="">
             <img class="ls-l" style="top:561px;left:955px;white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3600;scalexin:6;scaleyin:6;offsetxout:0;parallaxlevel:-2;" src="../assets/images/layerslider-gallery/common-star.png" alt="">-->
 </div>