<div class="ls-slide" data-ls="slidedelay:7000; transition2d: all;">
    <img src="../assets/images/bg1.jpg" class="ls-bg" alt="Slide background" />
    <!--middle video-->
    <div class="row ls-l"   
       style="left:50% !important;width:27% !important;height:100vh;padding:0 !important;background:#000;">
       <div class="row position-relative align-items-center overflow-hidden h-100 w-100"  data-ls="durationin: 2000; delayin: 20; offsetxout:0; ">
          <!--    <video autoplay muted loop id="coffeeVideo">
<source src="../assets/images/burger.mp4" type="video/mp4" />
</video>-->
          <img src="../../assets/images/burger/coffeesmoke.gif" class="w-auto h-100vh" data-ls="durationin: 2000; " />
       </div>
    </div>
    <!--First column-->
    <div class="row ls-l" style="left:19% !important;width:38% !important;background:#f4f4f4">
       <div
          style="top:20%; font-size:250%; height:100vh; left:0%; color:#000; text-align:center;padding:0;"
          data-ls="durationin: 2000; delayin: 20; offsetxout:0; ">
          <h2 class="heading">THIRSTY?</h2>
          <h3 class="sub-heading">CUSTOM FROZEN BLENDS</h3>
          <div class="row position-relative align-items-center whole p-5">
             <div class="col-4 text-right row">
                <img src="../assets/images/beverage.png" class="w-50" />
                <img src="../assets/images/water-glass.png" class="w-50" />
             </div>
             <div class="col-7 offset-1 text-left">
                <div class="row">
                   <div class="col-4 price p-0">
                      <div class="border"><strong>20 oz.</strong><br />
                         <h5>$3.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>16 oz.</strong><br />
                         <h5>$2.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>12 oz.</strong><br />
                         <h5>$2.79</h5>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-12 menus">
             <h3>Smoothies</h3>
             <h4>Mango, Banana, Strawberry</h4>
             <h3>Frappes</h3>
             <h4>Mango, Banana, Strawberry, Cookies and Cream</h4>
             <h3>Cold Brew</h3>
             <h4>Mango, Banana, Strawberry, Cookies and Cream</h4>
             <h3>Frozen Lemonade</h3>
             <h4>Mango, Banana & Strawberry </h4>
             <h3>Fruit Cream</h3>
             <h4>Mango, Banana & Strawberry </h4>
             <h3>Chocolate Cream</h3>
             <h4>Mango, Banana & Strawberry </h4>
          </div>
       </div>
    </div>

    <!--last column-->
    <div class="row ls-l"
       style="left:81% !important;width:38% !important;background:#f4f4f4;height:100vh;padding:0;">
       <div style="top:20%; font-size:250%;  left:0%; color:#000; text-align:center;padding:0;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;">
          <h2 class="heading">THRISTY?</h2>
          <h3 class="sub-heading1">CUSTOM COFFEE & TEA</h3>
          <h4 class="menu-head">Espresso Specialty Drinks</h4>
          <div class="row position-relative whole pl-3rem pt-1rem">
             <div class="col-4 text-right row mini-list">
                <h5>Espresso</h5>
                <h5>Cappuccino</h5>
                <h5>Latte</h5>
                <h5>Macchiato</h5>
             </div>
             <div class="col-7 offset-1 text-left">
                <div class="row">
                   <div class="col-4 price p-0">
                      <div class="border"><strong>20 oz.</strong><br />
                         <h5>$3.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>16 oz.</strong><br />
                         <h5>$2.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>12 oz.</strong><br />
                         <h5>$2.79</h5>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="border-line"></div>
          <h4 class="menu-head">Coffee & Hot Chocolate</h4>
          <div class="row position-relative whole pl-3rem pt-1rem">
             <div class="col-4 text-right row mini-list">
                <h5>Specialty Cafe</h5>
                <h5>Americano</h5>
                <h5>Hot Chocolate</h5>
             </div>
             <div class="col-7 offset-1 text-left">
                <div class="row">
                   <div class="col-4 price p-0">
                      <div class="border"><strong>20 oz.</strong><br />
                         <h5>$3.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>16 oz.</strong><br />
                         <h5>$2.39</h5>
                      </div>
                   </div>
                   <div class="col-4 price p-0">
                      <div class="border"><strong>12 oz.</strong><br />
                         <h5>$2.79</h5>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="border-line"></div>

          <div class="row position-relative whole pl-3rem pt-1rem">
             <div class="col-4 text-right row mini-list">
                <h5>Organic Teas</h5>
             </div>
             <div class="col-8 text-right">
                <div class="row font-size-2rem">
                   <div class="col-4 offset-4"> <strong>16 oz.</strong></div>
                   <div class="col-4"><span>$1.99</span></div>
                </div>
             </div>
          </div>
          <div class="border-line"></div>
          <h4 class="menu-head1">Flabour Shots</h4>
          <div class="row position-relative whole pl-3rem">
             <div class="col-10 text-right row mini-list">
                <h5>First Shot Free, Second Shot</h5>
                <p class="text-left font-size-15rem">* Add custom flavours to all items: Vanilla, Sugar
                   Free, Vanilla, Hazelnut, Caramel, Pure Came Syrub, Peanut, Butter, Cool Mint, Macha,
                   Cookies & Cream, Seasonal Syrup</p>
             </div>
             <div class="col-2 text-right">
                <div class="row font-size-2rem">
                   <span>$.49</span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>