<div class="wrapper">
   <div id="main">
      <div id="slider">
         <div id="layerslider_4" class="ls-wp-container"
            style="width:100%;height:1080px;max-width:1920px;margin:0 auto;margin-bottom: 0px;">
            <app-templatefour></app-templatefour>
            <app-templateone></app-templateone>
            <app-templatetwo></app-templatetwo>
            <app-templatethree></app-templatethree>
            <!--  <app-templatefive></app-templatefive>-->
         </div>
      </div>
   </div>
</div>