<div class="ls-slide rev2" data-ls="slidedelay:7000; transition2d: all;">
    <img src="../assets/images/bg1.jpg" class="ls-bg" alt="Slide background"
       style="width:100% !important;top:0;left:0" />
    <div class="row ls-l" style="left:15% !important;width:30% !important;">
       <div style="top:20%; font-size:250%;  left:0%; color:#000; text-align:center;    padding: 0;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;    width: 100%;">
          <h2 class="heading1">FAVOURITES</h2>
          <div class="row position-relative align-items-center whole plr-10">
             <div class="col-4 text-right">
                <img src="../assets/images/burger.png" class="w-100" />
             </div>
             <div class="col-8 text-left">
                <div class="item-name">
                   <strong>
                      <h3 class="text-left item-name-font">Angus Beef</h3>
                      <h3 class="price">6.99 <span>390 Cal</span></h3>
                   </strong>
                </div>
             </div>
          </div>
          <div class="row position-relative align-items-center whole  plr-10">
             <div class="col-4 text-right">
                <img src="../assets/images/product-1.png" class="w-100" />
             </div>
             <div class="col-8 text-left">
                <div class="item-name">
                   <strong>
                      <h3 class="text-left  item-name-font">Chicken Wings</h3>
                      <h3 class="price">6Pcs 4.99 <span>390 Cal</span></h3>
                      <h3 class="price">12Pcs 6.99 <span>410-620 Cal</span></h3>
                   </strong>
                </div>
             </div>
          </div>
          <h2 class="heading1 mt-3">SIDES</h2>
          <!--item-->
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-12">
                <h3 class="text-left fw-bold  item-name-font">Chicken Cheese Wrap</h3>
             </div>
             <div class="col-6 text-left">
                <div class="item-name">
                   <strong>
                      <h4 class="red-text ">LRG</h4>
                      <h3 class="price">6.99 <span>390 Cal</span></h3>
                   </strong>
                   <strong>
                      <h4 class="red-text">REG</h4>
                      <h3 class="price">6.99 <span>390 Cal</span></h3>
                   </strong>
                </div>
             </div>
             <div class="col-6 text-right">
                <img src="../assets/images/roll.png" class="w-100" />
             </div>
          </div>
          <!--item2-->
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-12">
                <h3 class="text-left fw-bold  item-name-font">Onion Rings</h3>
             </div>
             <div class="col-6 text-left">
                <div class="item-name">
                   <strong>
                      <h4 class="red-text">LRG</h4>
                      <h3 class="price">6.99 <span>390 Cal</span></h3>
                   </strong>
                   <strong>
                      <h4 class="red-text">REG</h4>
                      <h3 class="price">6.99 <span>390 Cal</span></h3>
                   </strong>
                </div>
             </div>
             <div class="col-6 text-right">
                <img src="../assets/images/onionrings.png" class="w-100" />
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-7">
                <h3 class="text-left fw-bold  item-name-font">Sweet Potato Fries</h3>
             </div>
             <div class="col-2">
                <h3 class="price fw-bold">6.99</h3>
             </div>
             <div class="col-3">
                <h3 class="price"><span>390 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-7">
                <h3 class="text-left fw-bold  item-name-font">Styled Fries</h3>
             </div>
             <div class="col-2">
                <h3 class="price  fw-bold">6.99</h3>
             </div>
             <div class="col-3">
                <h3 class="price"><span>390 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-7">
                <h3 class="text-left fw-bold  item-name-font">Half & Half</h3>
             </div>
             <div class="col-2">
                <h3 class="price fw-bold">6.99</h3>
             </div>
             <div class="col-3">
                <h3 class="price"><span>390 Cal</span></h3>
             </div>
          </div>
       </div>
    </div>
    <div class="row ls-l" style="left:85% !important;width:30% !important;    padding: 0;">
       <div style="top:20%; font-size:250%;  left:0%; color:#000; text-align:center;    padding: 0;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;    width: 100%;">
          <h2 class="heading1">KIDS COMBO</h2>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Burger</h3>
             </div>
             <div class="col-2">
                <h3 class="price  fw-bold">5.09</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>440-390 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Cheese Burger</h3>
             </div>
             <div class="col-2">
                <h3 class="price  fw-bold">5.79</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>390 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Chicken Tenders</h3>
             </div>
             <div class="col-2">
                <h3 class="price  fw-bold">5.39</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>270-390 Cal</span></h3>
             </div>
          </div>
          <h2 class="heading1 mt-5">EXTRAS</h2>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Cheese</h3>
             </div>
             <div class="col-2">
                <h3 class="price">.70</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>50 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Bacon</h3>
             </div>
             <div class="col-2">
                <h3 class="price">.90</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>80 Cal</span></h3>
             </div>
          </div>
          <h2 class="heading1 mt-5">DRINKS</h2>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Large</h3>
             </div>
             <div class="col-2">
                <h3 class="price">2.49</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>0.490 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font" >Medium</h3>
             </div>
             <div class="col-2">
                <h3 class="price">2.29</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>0.290 Cal</span></h3>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20">
             <div class="col-6">
                <h3 class="text-left fw-bold  item-name-font">Small</h3>
             </div>
             <div class="col-2">
                <h3 class="price">1.99</h3>
             </div>
             <div class="col-4">
                <h3 class="price"><span>0.199 Cal</span></h3>
             </div>
          </div>
          <img src="../../assets/images/burger.png" class="w-60"/>
       </div>
    </div>
    <div class="row ls-l" style="left:50% !important;width:40% !important;     background: #f8f7f2;   padding: 0;">
       <div style="top:20%; font-size:250%;  left:0%; color:#000; text-align:center;    padding: 0;"
          data-ls="durationin: 2000; delayin: 200; offsetxout:0;    width: 100%;">
          <h2 class="heading2">COMBO DEALS</h2>
          <div class="row position-relative align-items-center plr-20"
             data-ls="offsetxin:0;offsetyin:200;delayin:3500;offsetxout:0;offsetyout:150;">
             <div class="col-6 position-relative">
                <div class="row">
                   <div class="col-2">
                      <div class="non-veg">1</div>
                   </div>
                   <div class="col-10 text-left">
                      <h3 class="fw-bold  item-name-font">Double Cheese Chicken Burger</h3>
                   </div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Combo*</div>
                   <div class="col-5 text-left price fw-bold">9.29</div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Sandwich Only<br>
                      <div class="price"><span>760 Cal</span></div>
                   </div>
                   <div class="col-5 text-left price  fw-bold">6.39</div>
                </div>
                <div class="row">
                   <img src="../assets/images/combo.png" alt="">
                </div>
             </div>
             <div class="col-6">
                <div class="row">
                   <div class="col-2">
                      <div class="veg">2</div>
                   </div>
                   <div class="col-10 text-left">
                      <h3 class="fw-bold  item-name-font">Double Cheese Veg Burger</h3>
                   </div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Combo*</div>
                   <div class="col-5 text-left price  fw-bold">9.29</div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Sandwich Only<br>
                      <div class="price"><span>760 Cal</span></div>
                   </div>
                   <div class="col-5 text-left price  fw-bold">6.39</div>
                </div>
                <div class="row">
                   <img src="../assets/images/combo.png" alt="">
                </div>
             </div>
          </div>
          <div class="row position-relative align-items-center  plr-20"
             data-ls="offsetxin:0;offsetyin:80;delayin:500;offsetxout:0;offsetyout:-80;">
             <div class="col-6 position-relative">
                <div class="row">
                   <div class="col-2">
                      <div class="non-veg">3</div>
                   </div>
                   <div class="col-10 text-left">
                      <h3 class="fw-bold  item-name-font">Double Cheese Beef Burger</h3>
                   </div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Combo*</div>
                   <div class="col-5 text-left price  fw-bold">9.29</div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Sandwich Only<br>
                      <div class="price"><span>760 Cal</span></div>
                   </div>
                   <div class="col-5 text-left price  fw-bold">6.39</div>
                </div>
                <div class="row">
                   <img src="../assets/images/combo.png" alt="">
                </div>
             </div>
             <div class="col-6">
                <div class="row">
                   <div class="col-2">
                      <div class="non-veg">4</div>
                   </div>
                   <div class="col-10 text-left">
                      <h3 class="fw-bold  item-name-font">Double Cheese Bacon Burger</h3>
                   </div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Combo*</div>
                   <div class="col-5 text-left price  fw-bold">9.29</div>
                </div>
                <div class="row">
                   <div class="col-7 text-right red-text">Sandwich Only<br>
                      <div class="price"><span>760 Cal</span></div>
                   </div>
                   <div class="col-5 text-left price  fw-bold">6.39</div>
                </div>
                <div class="row">
                   <img src="../assets/images/combo.png" alt="">
                </div>
             </div>
          </div>
          <div class="row">
             <div class="bg-black col-12">
                <h5>2,000 Calories a day is used for general nutrition advice, but Calorie needs vary.
                   Additional nutrition information available upon request</h5>
             </div>
          </div>
       </div>
    </div>
 </div>